<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Author</title>
</head>
<body>

<h2>Edit Author</h2>

<form th:action="@{/authors/{id}(id=${author.id})}" th:object="${author}" method="post">

    <label>ID:
        <input th:field="*{id}" readonly/>
    </label><br/>

    <label>Name:
        <input th:field="*{name}"/>
    </label><br/>

    <label>Nationality:
        <input th:field="*{nationality}"/>
    </label><br/>

    <button type="submit">Update</button>
</form>

<a th:href="@{/authors}">Back</a>

</body>
</html>
