<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>

<h1>Authors</h1>
<a th:href="@{/authors/new}">Add new Author</a>
<br/><br/>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Nationality</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="a : ${authors}">
        <td th:text="${a.id}">A1</td>
        <td th:text="${a.name}">John Doe</td>
        <td th:text="${a.nationality}">USA</td>

        <td>
            <a th:href="@{/authors/{id}/details(id=${a.id})}">Details</a>
            &nbsp;|&nbsp;
            <a th:href="@{/authors/{id}/edit(id=${a.id})}">Edit</a>
            &nbsp;|&nbsp;

            <form th:action="@{/authors/{id}/delete(id=${a.id})}"
                  method="post"
                  style="display:inline">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
