<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
</head>
<body>

<h2>Book Details</h2>

<p><strong>ID:</strong> <span th:text="${book.id}">B1</span></p>
<p><strong>Title:</strong> <span th:text="${book.title}">Title</span></p>
<p><strong>Genre:</strong> <span th:text="${book.genre}">Genre</span></p>

<h3>Authors of this book:</h3>
<ul>
    <li th:each="a : ${authors}"
        th:text="${a.name}">
        Author Name
    </li>
</ul>

<a th:href="@{/books}">Back to list</a>

</body>
</html>
