<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Magazine</title>
</head>
<body>
<h2>Edit Magazine</h2>

<form th:action="@{/magazines/{id}(id=${magazine.id})}"
      th:object="${magazine}"
      method="post">

    <label>ID:
        <input th:field="*{id}" readonly/>
    </label><br/>

    <label>Title:
        <input th:field="*{title}"/>
    </label><br/>

    <label>Publisher:
        <input th:field="*{publisher}"/>
    </label><br/>

    <label>Language:
        <input th:field="*{language}"/>
    </label><br/>

    <button type="submit">Update</button>
</form>

<a th:href="@{/magazines}">Back</a>
</body>
</html>
